<header>
	
	<div id="header-top-container">
		<div id="header-top">
			
					
			<div id="header-top-left">
				<ul class="sf-menu">
					<li><a href="/#!/">Home</a></li>
                    <li><a href="/#!/videos">Videos</a></li>
					<li class="current-menu-item" ><a href="about.html">About</a></li>
                </ul>
			</div><!-- close #header-top-left -->

			<div class="clearfix"></div>
		</div><!-- close #header-top -->
	</div><!-- close #header-top-container -->
	
	
	
	<div id="header-gradient">
		
		<div id="header-logo-container">
			<div id="logo"><a href="/#!/"><img src="images/logo.png" alt="Logo"></a></div>
			
			<!--<div id="header-logo-right">-->
				<!--<form method="get" class="searchform" action="">-->
					<!--<label for="s" class="assistive-text">Search</label>-->
					<!--<input type="text" class="field" name="s" id="s" placeholder="Search" />-->
					<!--<input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />-->
				<!--</form>-->
				
			<!--</div>-->
		
		<div class="clearfix"></div>
		</div><!-- close #header-logo-container -->
		
		<div id="navigation-narrow">
			<nav>
				<ul class="sf-menu">
					<li><a href="/#!/">Home</a></li>
                    <li><a href="/#!/videos">Videos</a>
						<!--<ul>-->
                            <!--<li><a href="three-column-portfolio.html">VisMOOC</a></li> -->
                            <!--<li><a href="three-column-portfolio.html">GraphVis</a></li>-->
                            <!--<li><a href="three-column-portfolio.html">UrbanVis</a></li>-->
                            <!--<li><a href="three-column-portfolio.html">Others</a></li>-->
                        <!--</ul>-->
					</li>
					<li class="current-menu-item"><a href="about.html">About</a></li>
				</ul>
				<div class="clearfix"></div>
			</nav>
		</div><!-- close #navigation-narrow -->

	</div><!-- close #header-gradient -->
	
</header>


<div id="main" role="main">	
	
	
	<div class="bread-crumbs"><span>You are here:</span>  <a href="/#!/">Home</a> &rsaquo; About us</div>
	
	
	<div class="content-container">
		
		<div class="sidebar-container">
			
		<div class="page-content content-sidebar">
			<h1 class="page-title">About us</h1>
            <p>Welcome to HKUST VisLab, a multidisciplinary group aiming at
            improving the visual analysis and various visualizations.</p>
            <h3>Projects</h3>
			
			<div class="team-member">
				<img src="images/team-member.png" alt="" width="120" height="120" class="alignleft" />
                <h5>VisMOOC</h5>
                <h6>Description</h6>
				<p style="overflow: hidden;">Massive Open Online Courses
                (MOOCs) are onine courses aimed at large-scale participation
                and open access via the Internet. MOOCs are available for
                students(>12m) from all over the world, students can learn
                at any place anytime they want. 
                VisMOOC is the FIRST visual analytic system for domain
                experts to analyze large-scale data of MOOCs. 
                It provides the end users (course instructors and education
                analysts) intuitive, interative and comprehensive analysis
                by integrating course videos, data visualization, and
                statistical analysis into one system. Multi-exploration
                techniques are offered for analysis at different levels. The
                data include clickstream data when students interact with
                course videos, grading data for assignments and exams, and
                forum data.</p>
				
				<div class="clearfix"></div>
			</div><!-- close .team-member -->
			
			
			<div class="team-member">
				<img src="images/team-member.png" alt="" width="120" height="120" class="alignleft" />
                <h5>VisNexus</h5>
                <h6>Description</h6>
				<p style="overflow: hidden;">With the burgeoning development of information
                technologies, numerous data of different categories have
                become accessible to us. Analyzing the relations among data
                entities provides new opportunities to reveal the hidden
                information in data and better understand our world.
                Visualization techniques enable people to leverage the power
                of human cognition to analyze the relations among objects
                and data entities in real world scenarios. However, it is
                still challenging to develop efficient and effective
                visualization methods in large and complex data. In a series
                of projects, we studied various important topics to reveal
                the complex relations among different data entities,
                including graph readability, dynamic network, heterogenous
                network, and multi-dimensional data.</p>
				<div class="clearfix"></div>
			</div><!-- close .team-member -->
			
			
			
			<div class="team-member">
				<img src="images/team-member.png" alt="" width="120" height="120" class="alignleft" />
                <h5>UrbanVis</h5>
                <h6>Description</h6>
				<p style="overflow: hidden;">      Urbanization and wide
                spread of information technologies transform cities into
                huge data pools. This big data provides new opportunities to
                reveal the hidden dimensions of the city and better
                understand the processes taking place within its physical
                boundaries. Urban visualizations can create awareness about
                important urban conditions and provide a valuable insight
                into how cities perform and how people interact with the
                urban environment, thus making it possible for extensive
                applications with high social and business values in modern
                cities. In a series of projects, we studied various important
                aspects in urban informatics, including human mobility,
                social media, environment, behavior analysis and 3d
                simulation. </p>
				<div class="clearfix"></div>
			</div><!-- close .team-member -->
			
		
		</div><!-- close .page-content -->
		
		
		<div class="sidebar">
            <h5>Highlights</h5>
			<p>We are looking for Postdoc, PhD, Mphil, and Visiting
            Intern:</br>
            <a href="http://www.huamin.org/awards.htm" style="color:#428bca;"> For potential PhD, Mphil, MscIT, and UROP students</a>
            </p>
			<div class="blank-divider"></div>
			
		</div><!-- close .sidebar -->
		
		<div class="clearfix"></div>
		</div><!-- close .sidebar-container -->
		
		
	</div><!-- close .content-container -->
	<div class="content-container-base">
		<div class="side-bar-base"></div>
	</div><!-- close .content-container-base or .content-container-base-pagination -->
	
</div><!-- close #main -->



<div id="footer-gradient"></div>
<footer>
	<div class="footer-content">
	<div class="clearfix"></div>
	</div><!-- close .footer-content -->
	
	<div id="footer-base">
		<div id="footer-base-content">
            <div id="copyright-footer">HKUST VisLab &copy 2016 All rights reserved.</div>
			<div id="footer-navigation">
				<ul>
					<li><a href="#">Home</a></li>
                    <li><a href="#">Videos</a></li>
                    <li class="current-menu-item"><a href="#">About</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div><!-- close #footer-base-content -->
		
	</div>
	
</footer>
