<section data-ng-controller="ProjectController">

	<header>
		
		<div id="header-top-container">
			<div id="header-top">
				
				<div id="header-top-left">
					<ul class="sf-menu">
						<li><a href="/#!/">Home</a></li>
                        <li class="current-menu-item" ><a
                                href="/#!/videos">Videos</a></li>
						<li><a href="/#!/about">About</a></li>
                    </ul>
				</div><!-- close #header-top-left -->
				<div class="clearfix"></div>
			</div><!-- close #header-top -->
		</div><!-- close #header-top-container -->
		
		
		
		<div id="header-gradient">
			
			<div id="header-logo-container">
				<div id="logo"><a href="/#!/"><img src="images/logo.png" alt="Logo"></a></div>
				
				<!--<div id="header-logo-right">-->
					<!--<form method="get" class="searchform" action="">-->
						<!--<label for="s" class="assistive-text">Search</label>-->
						<!--<input type="text" class="field" name="s" id="s" placeholder="Search" />-->
						<!--<input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />-->
					<!--</form>-->
					
				<!--</div>-->
			
			<div class="clearfix"></div>
			</div><!-- close #header-logo-container -->
			
			<div id="navigation-narrow">
				<nav>
					<ul class="sf-menu">
						<li><a href="/#!/">Home</a></li>
                        <li class="current-menu-item" ><a href="/#!/videos">Videos</a>
							<!--<ul>-->
                                <!--<li><a href="three-column-portfolio.html">VisMOOC</a></li> -->
                                <!--<li><a href="three-column-portfolio.html">GraphVis</a></li>-->
                                <!--<li><a href="three-column-portfolio.html">UrbanVis</a></li>-->
                                <!--<li><a href="three-column-portfolio.html">Others</a></li>-->
							<!--</ul>-->
						</li>
						<li><a href="/#!/about">About</a></li>
					</ul>
					<div class="clearfix"></div>
				</nav>
			</div><!-- close #navigation-narrow -->

		</div><!-- close #header-gradient -->
		
	</header>
	
	
	<div id="main" role="main">	
		
		
		<div class="bread-crumbs"><span>You are here:</span>  <a
                href="/#!/">Home</a> &rsaquo; Videos</div>
		
		
		<div class="content-container">
			
			
				
			<div class="page-content">
				
				<ul class="sub-pagination">
					<!--<li class="current-menu-item"><a href="#">All</a></li>-->
				</ul>
				
                <h1 class="page-title">Videos</h1>
				<p class="page-description"></p>
				
                <div ng-repeat="videoItem in curDataList" class="grid3column" ng-class="{lastcolumn: $index % 3 == 2 }">
					<div class="portfolio-list">
					<span class="gallery-hover">
                        <a href="/#!/video-single?id={{videoItem.id}}">
                            <img src="images/demo-content/{{videoItem.imageName}}" width="280" height="212" alt="" />
                        </a>
					</span>
                    <h5><a href="/#!/video-single?id={{videoItem.id}}">{{videoItem.title}}</a></h5>
					<p>by Yanhong on January 14, 2016</p>
					</div><!-- close .portfolio-list -->
				</div>
			
			</div><!-- close .page-content -->
			
			
			
			
			<div class="clearfix"></div>
				
			
		</div><!-- close .content-container -->
		<div class="content-container-base-pagination" style="display: flex; justify-content: center;">
		
            <pagination total-items="dataLen" ng-model="currentPage"
            ng-change="pageChanged()" style="margin-top: 4px;"></pagination>
			
		</div><!-- close .content-container-base or .content-container-base-pagination -->
		
	</div><!-- close #main -->
	
	
	
	<div id="footer-gradient"></div>
	<footer>
		<div class="clearfix"></div>
		</div><!-- close .footer-content -->
		
		<div id="footer-base">
			<div id="footer-base-content">
                <div id="copyright-footer">HKUST VisLab &copy 2016 All rights reserved.</div>
				<div id="footer-navigation">
					<ul>
						<li><a href="#">Home</a></li>
                        <li class="current-menu-item"><a href="#">Video</a></li>
                        <li><a href="#">About</a></li>
					</ul>
				</div>
			
			<div class="clearfix"></div>
			</div><!-- close #footer-base-content -->
			
		</div>
		
	</footer>
	
</section>
