<section data-ng-controller="ProjectController">

	<header>
		
		<div id="header-top-container">
			<div id="header-top">
				
				<div id="header-top-left">
					<ul class="sf-menu">
						<li><a href="index.html">Home</a></li>
                        <li class="current-menu-item" ><a href="projects.html">Projects</a></li>
						<li><a href="about.html">About</a></li>
                    </ul>
				</div><!-- close #header-top-left -->
				<div class="clearfix"></div>
			</div><!-- close #header-top -->
		</div><!-- close #header-top-container -->
		
		
		
		<div id="header-gradient">
			
			<div id="header-logo-container">
				<div id="logo"><a href="index.html"><img src="images/logo.png" alt="Logo"></a></div>
				
				<!--<div id="header-logo-right">-->
					<!--<form method="get" class="searchform" action="">-->
						<!--<label for="s" class="assistive-text">Search</label>-->
						<!--<input type="text" class="field" name="s" id="s" placeholder="Search" />-->
						<!--<input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />-->
					<!--</form>-->
					
				<!--</div>-->
			
			<div class="clearfix"></div>
			</div><!-- close #header-logo-container -->
			
			<div id="navigation-narrow">
				<nav>
					<ul class="sf-menu">
						<li><a href="index.html">Home</a></li>
                        <li class="current-menu-item" ><a href="projects.html">Projects</a>
							<ul>
                                <li><a href="three-column-portfolio.html">VisMOOC</a></li> 
                                <li><a href="three-column-portfolio.html">GraphVis</a></li>
                                <li><a href="three-column-portfolio.html">UrbanVis</a></li>
                                <li><a href="three-column-portfolio.html">Others</a></li>
							</ul>
						</li>
						<li><a href="about.html">About</a></li>
					</ul>
					<div class="clearfix"></div>
				</nav>
			</div><!-- close #navigation-narrow -->

		</div><!-- close #header-gradient -->
		
	</header>
	
	
	<div id="main" role="main">	
		
		
		<div class="bread-crumbs"><span>You are here:</span>  <a
                href="index.html">Home</a> &rsaquo; Projects</div>
		
		
		<div class="content-container">
			
			
				
			<div class="page-content">
				
				<ul class="sub-pagination">
					<li class="current-menu-item"><a href="#">All</a></li>
				</ul>
				
                <h1 class="page-title">Projects</h1>
				<p class="page-description"></p>
				
				
				<div class="grid3column">
					<div class="portfolio-list">
					<span class="gallery-hover">
						<div class="icon-container">
							<a href="http://www.youtube.com/watch?v=kIl-C8ZFJmg" rel="prettyPhoto[gallery1]" title="" class="video-icon">Video</a>
							<a href="project-single.html" class="page-icon">Page</a>
						</div>
						<img src="images/demo-content/portfolio12.png" width="280" height="212" alt="" />
					</span>
					<h5><a href="project-single.html">Moto TF Ride Day</a></h5>
					<p>by Mike on January 23, 2012</p>
					</div><!-- close .portfolio-list -->
				</div>
				<div class="grid3column">
					<div class="portfolio-list">
					<span class="gallery-hover">
						<div class="icon-container">
							<a href="images/demo-content/large1.jpg" rel="prettyPhoto[gallery1]" title="" class="photo-icon">Photo</a>
							<a href="project-single.html" class="page-icon">Page</a>
						</div>
						<img src="images/demo-content/portfolio13.jpg" width="280" height="212" alt="" class="transparent-icon" />
					</span>
					<h5><a href="project-single.html">Photo - Yosemite Park</a></h5>
					<p>by Mike on January 23, 2012</p>
					</div><!-- close .portfolio-list -->
				</div>
				<div class="grid3column lastcolumn">
					<div class="portfolio-list">
					<span class="gallery-hover">
						<div class="icon-container">
							<a href="http://vimeo.com/21120050" rel="prettyPhoto[gallery1]" title="" class="video-icon">Video</a>
							<a href="project-single.html" class="page-icon">Page</a>
						</div>
						<img src="images/demo-content/portfolio14.png" width="280" height="212" alt="" class="transparent-icon" />
					</span>
					<h5><a href="project-single.html">Inner Secrets - Rear Wing</a></h5>
					<p>by Mike on January 23, 2012</p>
					</div><!-- close .portfolio-list -->
				</div>
				<div class="clearfix"></div>
				
				
				
				<div class="grid3column">
					<div class="portfolio-list">
					<iframe src="http://player.vimeo.com/video/6686768?title=0&byline=0&portrait=0" width='280' height='212' frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
					<h5><a href="project-single.html">Inline Video Example</a></h5>
					<p>by Mike on January 23, 2012</p>
					</div><!-- close .portfolio-list -->
				</div>
				<div class="grid3column">
					<div class="portfolio-list">
					<span class="gallery-hover">
						<div class="icon-container">
							<a href="http://trailers.apple.com/movies/universal/despicableme/despicableme-tlr1_r640s.mov?width=640&height=360" rel="prettyPhoto[gallery1]" title="" class="video-icon">Video</a>
							<a href="project-single.html" class="page-icon">Page</a>
						</div>
						<img src="images/demo-content/portfolio15.png" width="280" height="212" alt="" class="transparent-icon" />
					</span>
					<h5><a href="project-single.html">Quicktime Video Example</a></h5>
					<p>by Mike on January 23, 2012</p>
					</div><!-- close .portfolio-list -->
				</div>
				<div class="grid3column lastcolumn">
					<div class="portfolio-list">
					<span class="gallery-hover">
						<div class="icon-container">
							<a href="images/demo-content/large2.jpg" rel="prettyPhoto[gallery1]" title="" class="photo-icon">Photo</a>
							<a href="project-single.html" class="page-icon">Page</a>
						</div>
						<img src="images/demo-content/portfolio16.jpg" width="280" height="212" alt="" class="transparent-icon" />
					</span>
					<h5><a href="project-single.html">Photo - Cold Desert</a></h5>
					<p>by Mike on January 23, 2012</p>
					</div><!-- close .portfolio-list -->
				</div>
				<div class="clearfix"></div>
				
				
				
				
				
				
				<div class="grid3column">
					<div class="portfolio-list">
					<span class="gallery-hover">
						<div class="icon-container">
							<a href="http://www.youtube.com/watch?feature=player_embedded&v=gxTuEC8RMzE" rel="prettyPhoto[gallery1]" title="" class="video-icon">Video</a>
							<a href="project-single.html" class="page-icon">Page</a>
						</div>
						<img src="images/demo-content/portfolio17.png" width="280" height="212" alt="" />
					</span>
					<h5><a href="project-single.html">Nitro Circus The Movie</a></h5>
					<p>by Mike on January 23, 2012</p>
					</div><!-- close .portfolio-list -->
				</div>
				<div class="grid3column">
					<div class="portfolio-list">
					<span class="gallery-hover">
						<div class="icon-container">
							<a href="http://www.youtube.com/watch?v=P8FlmTlmdzc&feature=pyv" rel="prettyPhoto[gallery1]" title="" class="video-icon">Video</a>
							<a href="project-single.html" class="page-icon">Page</a>
						</div>
						<img src="images/demo-content/portfolio18.png" width="280" height="212" alt="" class="transparent-icon" />
					</span>
					<h5><a href="project-single.html">Pacific Northwest – The Coast</a></h5>
					<p>by Mike on January 23, 2012</p>
					</div><!-- close .portfolio-list -->
				</div>
				<div class="grid3column lastcolumn">
					<div class="portfolio-list">
					<span class="gallery-hover">
						<div class="icon-container">
							<a href="http://vimeo.com/35083232" rel="prettyPhoto[gallery1]" title="" class="video-icon">Video</a>
							<a href="project-single.html" class="page-icon">Page</a>
						</div>
						<img src="images/demo-content/portfolio19.png" width="280" height="212" alt="" class="transparent-icon" />
					</span>
					<h5><a href="project-single.html">3 Days in Dubai</a></h5>
					<p>by Mike on January 23, 2012</p>
					</div><!-- close .portfolio-list -->
				</div>
				<div class="clearfix"></div>
				
				
				
				
				
				
				
				
				
				
			
			</div><!-- close .page-content -->
			
			
			
			
			<div class="clearfix"></div>
				
			
		</div><!-- close .content-container -->
		<div class="content-container-base-pagination">
		
			<div class="left-pagination">Page 1 of 3</div>
			<div class="right-pagination"></div>
			<div class="center-pagination"><a href="#" class="selected">1</a><a href="#">2</a><a href="#">3</a><a href="#">Next &rsaquo;</a></div>
			<div class="clearfix"></div>
			
		</div><!-- close .content-container-base or .content-container-base-pagination -->
		
	</div><!-- close #main -->
	
	
	
	<div id="footer-gradient"></div>
	<footer>
		<div class="clearfix"></div>
		</div><!-- close .footer-content -->
		
		<div id="footer-base">
			<div id="footer-base-content">
                <div id="copyright-footer">HKUST VisLab &copy 2016 All rights reserved.</div>
				<div id="footer-navigation">
					<ul>
						<li><a href="#">Home</a></li>
                        <li class="current-menu-item"><a href="#">Projects</a></li>
                        <li><a href="#">About</a></li>
					</ul>
				</div>
			
			<div class="clearfix"></div>
			</div><!-- close #footer-base-content -->
			
		</div>
		
	</footer>
	
</section>